@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body{
  background: #FDFBF5;
  font-family: 'Bangers','Noto Sans TC', sans-serif;
}

#register{
  font-family: 'Bangers','Noto Sans TC', sans-serif;
  width: 100%;
  margin: auto;
}

#register .row{
  padding: 1rem;
  width: 50%;
  margin: auto;
}

#homeBigImg{
  border-radius: 10px;
}